# Ignore Python virtual environments
venv/
rasa/
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings (optional)
.vscode/

# Environment variable files (optional)
.env

# OS files
.DS_Store
Thumbs.db
